.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 50px;
    padding: 0 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-item {
    margin-right: 20px;
    color: white;
    font-size: 20px;
  }
  
  .header-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }