.path {
    display: flex;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }


  